# JetBrains claims that some .idea files should be included, but they aren't strictly necessary
/.idea
*.iml

# Build artifacts
/build
*.apk

# Keystore
*.jks

# Gradle artifacts
.gradle

# Misc
.DS_Store
/local.properties
