<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fasola.fasolaminutes" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MinutesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="fasola"
                      android:host="recordings" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LeaderActivity"
            android:label="@string/title_activity_leader"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".SongActivity"
            android:label="@string/title_activity_song"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".SingingActivity"
            android:label="@string/title_activity_singing"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <service
            android:name=".PlaybackService"
            android:enabled="true"
            android:exported="false" >
        </service>
		<receiver android:name=".MediaButtonReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>

        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/title_activity_playlist"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".HelpActivity">
        </activity>
    </application>

</manifest>
