<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fasola.fasolaminutes" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="org.fasola.fasolaminutes.MinutesApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".LeaderActivity"
            android:label="@string/title_activity_leader"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fasola.fasolaminutes.MainActivity" />
        </activity>
        <activity
            android:name=".SongActivity"
            android:label="@string/title_activity_song"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fasola.fasolaminutes.MainActivity" />
        </activity>
        <activity
            android:name=".SingingActivity"
            android:label="@string/title_activity_singing"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fasola.fasolaminutes.MainActivity" />
        </activity>

        <service
            android:name=".PlaybackService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
